# Ignore Node.js dependencies
node_modules/

# Ignore environment files with secret keys
.env

# Ignore Python virtual environment folders
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db